@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar {
    background-color: #0b0c10;
    padding: 0;
    padding-right: 2%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width:100%
    /* position: relative;
    right: 0;
    left: 0;
    z-index: 0;*/
}

    .navbar ul {
        width: 100%;
       
    }

    .navbar a, .navbar Link, .nav-link {
        /*padding: 20px;*/
       /* padding: 10px;*/
       
        text-align: end;
        text-decoration: none;
        text-transform: uppercase;
        color: #bfbfbf; /*#cccccc;*/
        font-weight: 700;
    }

    .navbar Link, .nav-link {
        font-size: 1.1em;
        letter-spacing: .1em
    }


.special-h2-li {
    padding:0 1rem;
    font-size: 2.5em; 
    text-align: start;
    /*font-size: 1.4em;*/
    letter-spacing: .1em;
}

.navbar a:hover, .navbar Link:hover, input[type=submit]:hover {
    /* background-color: #1f2833;*/
    /*color: #80d7ec;  */
    color: white;
}

.selected {
    background-color: #1f2833;
    /*color: #80d7ec;*/
    color: white !important;
}

/********************************************************************************************************************************************************/

    .navbar-nav .icon {
        display: none;
    }






@media screen and (max-width: 1280px) {   
    .navbar {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        top:0px;
        left: 0;
        z-index: 999;
        width:100%
    }
    .clicked {
        width: 100%
    }
    .clicked ul {
        display: flex;
        flex-wrap: wrap;       
    }
    .navbar-nav li {
        display: none;
    }
        .navbar-nav li.icon {
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }       
}

@media screen and (max-width: 1280px) {   
    .clicked li {
        float: none;
        display: inline;           
    }
}

/****************************************** Home *********************************/
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}



